$headertextcolor: #213f7d;
$paragraphtextcolor: #545f7d;
$tertextcolor: #39cdcc;
$btncolor: #39cdcc;
$btntextcolor: #ffffff;
$prybgcolor: #ffffff;

$dashboardcolor: linear-gradient(
    0deg,
    rgba(20, 129, 92, 0.5),
    rgba(20, 129, 92, 0.5)
  ),
  linear-gradient(0deg, #058547, #058547),
  linear-gradient(0deg, rgba(59, 192, 142, 0.1), rgba(59, 192, 142, 0.1)),
  #09cd1e;
