@use "../colors" as *;

.loginBtn {
  background-color: $btncolor;
  border-radius: 8px;
  height: 48px;
  width: 447px;
}
.resetBtn {
  background-color: $btncolor;
  border-radius: 8px;
  height: 40px;
  width: 98px;
}
.filterBtn {
  background-color: $btncolor;
  border-radius: 8px;
  height: 40px;
  width: 98px;
}
